html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  margin: unset;
  padding: unset;
}

h1{
  font-size: "25px";
  font-weight: 600;
}

h2{
  font-size: "18px";
  font-weight: 600;
}

a{
  color: unset;
  text-decoration: unset;
}